<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list-titles">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="list-notes">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add-note">
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <!--<ion-tab-button tab="delete-note">
      <ion-icon name="close-outline"></ion-icon>
    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>