<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'Signup' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input
                ngModel
                type="email"
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              lines="none"
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
            >
              <ion-label>Should be a valid e-mail address</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="Password"
                ngModel
                name="password"
                required
                minlength="8"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              lines="none"
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
            >
              <ion-label
                >Should be a valid password and 6 characters long</ion-label
              >
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button
            type="button"
            color="primary"
            expand="full"
            fill="outline"
            (click)="onSwitchAuthMode()"
            >Switch to {{ isLogin? 'Signup': 'Login'}}</ion-button
          >
          <!-- <div class="ion-text-center">
            <ion-spinner *ngIf="isLoading"></ion-spinner>
          </div> -->
          <ion-button
            class="coolbg-btn"
            type="submit"
            (click)="onLogin()"
            expand="full"
            fill="outline"
            [disabled]="!f.valid"
          >
            {{ isLogin? 'Login': 'Signup'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
